@inherits LayoutComponentBase

<nav class="d-flex navbar navbar-expand-lg">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <div class="profile-icon">
                <li class="navbar-nav-item">
                <img src="images/profile.png" alt="Profile"> 
            </li>
            </div>
            
            <li class="navbar-nav-item">
                <a class="navbar-nav-link" href="/settings">
                    <i class="fas fa-cog fa-2x outlined-icon"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>