@inherits LayoutComponentBase

<nav class="col-md-3 col-lg-3 d-md-block sidebar collapse">
    <div class="sidebar-header text-center mb-3">
        <img src="images/logo.png" alt="Nobshop Logo" class="sidebar-logo mb-2">
        <h5>Nobshop Online</h5>
    </div>

    <ul class="nav flex-column justify-content-center align-content-center">
        <li class="nav-item">
            <NavLink class="nav-link" href="/dashboard">
                <svg class="sidebar-icon" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" />
                </svg>
                Dashboard
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/inventory">
                <svg class="sidebar-icon" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M7,7H17V5H19V19H5V5H7V7Z" />
                </svg>
                Inventory
            </NavLink>
        </li>
        <li class="nav-item mb-3">
            <NavLink class="nav-link" href="/sales">
                <svg class="sidebar-icon" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M22,21H2V3H4V19H6V10H10V19H12V6H16V19H18V14H22V21Z" />
                </svg>
                Sales
            </NavLink>
        </li>
    </ul>
</nav>
